*{margin: 0; padding: 0;}

/*imagem banner principal*/
.banner{
	background-image: url(../img/sexy.jpg);
	width: 100%;
	background-size: cover;	
 	filter: grayscale(0.5);  
}

/*google fonts*/
body{
	font-family: 'Lato', sans-serif; 
}

/*header*/
header{
	background-color: #080808;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	display: box;
	display: flex;
	display: flexbox;
	height: auto;
}

header img{
	width: 200px;
	padding-top: 8px;
	padding-bottom: 8px;
}

header nav{
	display: flex;
	margin-top: 30px;
	box-direction: row wrap;
	flex-flow: row wrap;
}

header li a{
	color: #fff;
	text-decoration: none;
}

header li{
	margin: 0 15px;
}

header li a:hover{
	color: #de2c2c;
}

nav, ul{
	list-style: none;
}

/*banner*/
.banner-texto{
	display: box;
	display: flex;
	display: flexbox;
	padding: 15% 0;
}
.banner-texto-itens{
	color: #fff;
	margin: auto;
	text-align: center;
	width: 50%
}
.banner-texto-itens h2{
	font-family: 'Playfair Display', serif;
	font-size: 3em;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.banner-texto-itens p{
	font-size: 24 px;
}

/*principal*/
.principal h2{
	font-family: 'Playfair Display', serif;
	margin-top: 30px;
}

.principal{
	display: flex;
	display: box;
	display:  flex-box;
	box-orient: horizontal;
	flex-flow: row wrap;
	padding: 5% 0;
}
.principal1{
	flex: 1;
	box-flex: 1;
	flex: 1;
	padding: 3%;
	text-align: center;
}

/*contato*/
.contato-itens{
	display: flex;
	align-items: center;
	box-orient: vertical;
	flex-direction: column;
}
.contato{
	background-color: #cccccc;
	padding: 80px 0;
	position: relative;
}

.contato-itens h2{
	font-family: 'Playfair Display', serif;
	color: #fff;
	font-size: 40px;
	margin-bottom: 18px;
}

.contato-itens input[type="text"]{
	border-radius: 10px;
	margin-bottom: 15px;
	padding: 15px;
	width: 50%;
}

.contato-itens textarea{
	border-radius: 10px;
	height: 150px;
	padding: 15px;
	width: 50%; 
}

.contato-itens a{
	background-color: #da4b29;
	color: #fff;
	display: block;
	font-size: 20px;
	margin-top: 25px;
	padding: 15px 80px;
	text-decoration: none;
	text-transform: uppercase;
}

/*footer*/
footer{
	text-align: center;
	color: #fff;
	padding: 30px;
	background-color: #b2b2b2;
}

footer a{ 
	color: #fff;
	text-decoration: none;
}

footer a:hover{
	color:#da4b29;
}
@media{max-width: 700px}{
	header{flex-direction: column;}
	header img{margin-bottom: 15px;}
	.principal {
		flex-direction: column;
	}
}

