*{margin: 0; padding: 0;}

.banner{
	background-image: url(../img/high.jpg);
	width: 100%;
	background-size: cover;
}

.top{
	background-color: #000;
	display: box;
	display: flex;
	display: flexbox;
	width: 100%;
	height: auto;
	}

.logo{
	display: 1;
	flex: 1;
	font-size: 40px;
	padding: 18px;
}
.menu{
	flex: 3px;
	box-flex: 3px;
}

.menu ul{
	display: flex;
	display: box;
	display: flexbox; /* list-style: none;*/
	margin-top: 30px;
	box-orient: horizontal;
	box-direction: row wrap;
	flex-flow: row wrap;
}
.menu ul li{
	box-flex: 1;
	flex: 1;
	text-align: center;
}
.menu ul li a{
	color: #fff;
	font-size: 30 px;
	text-decoration: none;
}
.menu ul li a:hover{
	color: #de2c2c;
}

/*banner*/
.banner-texto{
	display: box;
	display: flex;
	display: flexbox;
	padding: 15% 0;
}
.banner-texto-itens{
	color: #fff;
	margin: auto;
	text-align: center;
	width: 50%
}
.banner-texto-itens h2{
	font-size: 3em;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.banner-texto-itens p{
	font-size: 24 px;
}

/*principal*/

.principal{
	display: flex;
	display: box;
	display:  flex-box;
	box-orient: horizontal;
	flex-flow: row wrap;
	padding: 5% 0;
}
.principal1{
	flex: 1;
	box-flex: 1;
	flex: 1;
	padding: 3%;
	text-align: center;
}

/*contato*/
.contato-itens{
	display: flex;
	align-items: center;
	box-orient: vertical;
	flex-direction: column;
}
.contato{
	background-color: #cccccc;
	padding: 80px 0;
	position: relative;
}

.contato-itens h2{
	color: #fff;
	font-size: 40px;
	margin-bottom: 18px;
}

.contato-itens input[type="text"]{
	border-radius: 10px;
	margin-bottom: 15px;
	padding: 15px;
	width: 50%;
}

.contato-itens textarea{
	border-radius: 10px;
	height: 150px;
	padding: 15px;
	width: 50%; 
}

.contato-itens a{
	background-color: #da4b29;
	color: #fff;
	display: block;
	font-size: 20px;
	margin-top: 25px;
	padding: 15px 80px;
	text-decoration: none;
	text-transform: uppercase;
}

@media all and (max-width: 500px){
	.top{
		box-orient: vertical;
		box-direction: normal;
		flex-direction: column;
		-ms-flex-direction: column;
		text-align: center;
	}

	.logo{
		padding: 18px 0 0;
	}

	.menu ul{
		box-orient: vertical;
		box-direction: normal;
		flex-direction: column;
		-ms-flex-direction: column;
		margin-top: 0;
	}

	.menu ul li{
		padding: 5px;
	}

	.banner-texto-itens{
		width: 100%;
	}

	.banner-texto-itens h2{
		font-size: 2.5em;
	}

	.principal{
		box-orient: vertical;
		box-direction: normal;
		flex-direction: column;
	}
}

footer{
	text-align: center;
	color: #fff;
	padding: 30px;
	background-color: #c4c4c4;
}

footer a{ 
	color: #fff;
	text-decoration: none;
}

footer a:hover{
	color:#da4b29;
}
